.image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

.image-container img {
  max-width: 100%; /* Ensure image is responsive */
  height:75%; /* Maintain aspect ratio */
}
